@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

body {
    margin: 0;
    color: white;
    font-family: 'Source Sans Pro';
    background: #721121;
}

span, p {
    font-weight: 400;
    font-style: normal;
}

.container-div {
    margin-bottom: 40px;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-weight: normal;
}

p {
    margin-top: 0;
    line-height: 1.2;
    font-size: 1.3em;
}

.jumbotron {
    height: 100vh;
    max-height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(bull.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 0px;
    padding: 0px;
}

.jumbotron-text-container {
    position: relative;
    top: 28%;
    z-index: 4;
    max-width: 100%;
    padding-left: 50px;
}

.jumbotron-text {
    font-style: normal;
    font-size: 110px;
    color: white;
    font-family: 'Anton', sans-serif;
}

.container {
    padding: 40px 50px 40px 50px;
}

.container-title {
    font-size: 52px;
}

.hash-tag {
    color: rebeccapurple;
    font-weight: 700;
}

.grid {
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.cell-1 {
    margin: 0 40px 40px 0;
    max-width: 390px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 220px;
}

.cell-2 {
    margin: 0 20px 40px 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 220px;
}

.me {
    max-width:90%;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-filter: saturate(1.2);
    display: block;
    margin: auto
}

.thumbnail {
    width:100%;
    display: block;
    margin: auto;
}

.card-button {
    background: #4fbbc2;
    border: none;
    line-height: 2em;
    padding: 5px 10px;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}

.card-button:hover {
    background: #36a2a9;
}