@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

body {
    margin: 0;
    color: #333;
    font-family: 'Source Sans Pro';
}

span, p {
    font-weight: 400;
    font-style: normal;
}

.container-div {
    margin-bottom: 40px;
}

p {
    margin-top: 0;
    line-height: 1.2;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: teal;
}

.top {
    min-height: 60px;
    background-color: #fff;
    overflow: auto;
    padding-bottom: 6px;
}

.orca-logo-word {
    color: #1b49a0;
    float: left;
    font-size: 52px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    padding: 0 0 0 12px;
    cursor: pointer;
}

.menu-container {
    float: right;
    padding: 14px 14px 0 0;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    /*todo: figure out how to get rid of floats with inline-block*/
}

.dropdown {
    overflow: hidden;
    float: left;
}

.menu-item {
    padding: 10px;
    text-decoration: none !important;
    color: #333 !important;
    font-size: 16px;
    position: relative;
    float: left;
}

.menu-item:after {
	position: absolute;
    left: 50%;
	content: '';
	height: 4px;
    background: teal;
    transition: all 0.15s linear;
    width: 0;
    bottom: 0;  
}

.menu-item:hover:after {
    width: 100%;
    margin-left: -50% 
}

.menu-item-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: auto;
    border-top: 1px solid lightblue;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu-item-content a:hover {
    background-color: #ddd;
}

.dropdown:hover > .menu-item-content {
    display: block;
}

.menu-sub-item {
    display: block;
    height: auto;
    padding: 10px;
}

.btn-container {
    float: left;
    padding: 6px 0 0 10px;
}

.btn {
    font-size: .75rem;
    line-height: 1;
    height: 1.875rem;
    width: 6.25rem;
    color: #fff;
    background-color: #1b49a0;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.btn:hover {
    background-color: #0d338a;
}

.btn-white {
    background-color: white;
    border: 2px solid black;
    color: black;
}

.btn-white:hover {
    background-color: white;
    color: teal;
    border-color: teal;
}

.btn-medium {
    font-size: 1rem;
    height: 2rem;
    margin-top: 10px;
    width: 7.25rem;
}

.hero {
    height: 645px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(transit-4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0px;
    padding: 0px;
}

.hero-text-container {
    -webkit-align-items: baseline;
    align-items: center;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    left: 50%;
    padding: 1.25rem 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 4;
    color: white;
}

.hero-center {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    max-width: 550px;
}

.hero-text {
    font-weight: bold;
    font-style: normal;
    font-size: 110px;
    color: white;
}

.container {
    padding: 40px 50px 40px 50px;
}

.container-title {
    font-size: 52px;
}